{% extends "blog/base.html" %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html>
<title>Strona nie istnieje</title>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white">Oooops! Strona nie istnieje</h3>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
<div class="container">
    <div class="row col-md-12 my-1">
        <img src="{% static "blog/404.jpg" %}" class="img-fluid" alt="Responsive image with 404 error" id="err404image">

    </div>
</div>

</body>
</html>
{% endblock %}

