.card{
    box-shadow: 0 16px 48px #E3E7EB;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}
.slider {
    background: #3ba855;
    height: auto;
    padding-bottom: 20px;
    box-shadow: 0 16px 48px #3ba855;
    padding-top: 50px;
}

.navbar-nav {
    padding-right: 100px;
}

.navbar {
    padding-left: 100px;
}

#mainFooter {
    background: #3ba855;
    color: white;
}

/* .bg-light {
    background-color: #327040 !important;
} */