{% extends 'blog/base.html' %} 
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'blog/style.css' %}">

<header class="header">
  <div class="container">
      <div class="row">
          <div class="col-md-12 mx-auto">
              <div class="site-heading">
                  <h3 class="site-heading my-4 mt-3 text-white">Lorem Ipsum: {{ post.title }}</h3>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Twój komentarz zostanie sprawdzony przez moderatora
        </div>
        {% else %}
        <h3>Zostaw komentarz</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Wyślij</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="jumbotron mb-5 text-center" style="padding 70px">
  <a href="{% url 'blog:home' %}" class="btn btn-primary btn-lg">Powrót do listy postów &rarr;</a>
</div> 

{% endblock content %}