{% block sidebar %}

<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Widget sidebar</h5>
    <div class="card-body">
        <p class="card-text">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
        <a href="{% url 'blog:used_tech' %}"
           class="btn btn-success">Użyte technologie</a>
    </div>
</div>
</div>

{% endblock sidebar %}